<div id="<%= dom_id friend %>" >
<table class='table'>
<thead>
<tr>
  <th>
    <strong>First name:</strong>
    <%= friend.first_name %>
  </th>

  <th>
    <strong>Last name:</strong>
    <%= friend.last_name %>
  </th>

  <th>
    <strong>Email:</strong>
    <%= friend.email %>
  </th>

  <th>
    <strong>Phone:</strong>
    <%= friend.phone %>
  </th>

  <th>
    <strong>Twitter:</strong>
    <%= friend.twitter %>
  </th>
  </tr>
  </thead>
  <table/>

</div>
